@model Web_LW.Models.Categorie

<h2>Supprimer la Catégorie</h2>

<p>Voulez-vous vraiment supprimer : <b>@Model.Nom</b> ?</p>

<form method="post">
    <button class="btn btn-danger">Supprimer</button>
    <a href="/Categories" class="btn btn-secondary">Annuler</a>
</form>
